@tailwind base;
@tailwind components;
@tailwind utilities;



.footnote{
    font-size: 8px;
}

.liftOffAnimation {
    /* padding: 15px;  */
    border: 1px solid #eee;  
    transition: all .3s ease-in-out;
  }
  
  .liftOffAnimation:hover {
    transform: translate3d(0px, -2px, 0px);
  }


  .product-slider{
    max-height: 240px;
    border: 1px solid white;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .product-slider::-webkit-scrollbar{
    width: 0;
  }

  .product-element{
    min-width: 180px;
    height: 180;
    line-height: 110px;
    text-align: center;
  }


  .item-slider{
    max-height: 640px;
    border: 1px solid white;
    display: flex;
    overflow-x: auto;
    overflow-y:hidden
  }

  .item-slider::-webkit-scrollbar{
    width: 0;
  }

  .item-element{
    min-width: 270px;
    height: 180;
    line-height: 110px;
    text-align: center;
  }

  