@tailwind base;
@tailwind components;
@tailwind utilities;



.footnote{
    font-size: 8px;
}

.liftOffAnimation {
    /* padding: 15px;  */
    border: 1px solid #eee;  
    transition: all .3s ease-in-out;
  }
  
  .liftOffAnimation:hover {
    transform: translate3d(0px, -2px, 0px);
  }
